<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwz.login_demo">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher"
        android:theme="@style/BaseStyle"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity android:name=".activity.MainActivity"/>
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <activity android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activity.LoginAfterActivity"/>

        <activity android:name=".activity.ChoiceFunctionActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

    </application>

</manifest>